<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.dailyrental.dao.DayCarAreaDao">

<resultMap type="DayCarArea" id="DayCarArea">
	<id column="CAR_AREA_ID" property="carAreaId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="AREA_NAME" property="areaName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_ID" property="cityId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_NAME" property="cityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LONGITUDE" property="longitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LATITUDE" property="latitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_AVAILABLE" property="isAvailable" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION1_ID" property="addrRegion1Id" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION1_NAME" property="addrRegion1Name" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION2_ID" property="addrRegion2Id" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION3_ID" property="addrRegion3Id" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION3_NAME" property="addrRegion3Name" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="ADDR_REGION2_NAME" property="addrRegion2Name" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="POLYGON_POINTS" property="polygonPoints" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
CAR_AREA_ID,AREA_NAME,CITY_ID,CITY_NAME,LONGITUDE,LATITUDE,IS_AVAILABLE,
CREATE_TIME,UPDATE_TIME,OPERATOR_ID,OPERATOR_TYPE,MEMO,ADDR_REGION1_ID,
ADDR_REGION1_NAME,ADDR_REGION2_ID,ADDR_REGION3_ID,ADDR_REGION3_NAME,ADDR_REGION2_NAME,POLYGON_POINTS

</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
CAR_AREA_ID,AREA_NAME,CITY_ID,CITY_NAME,LONGITUDE,LATITUDE,IS_AVAILABLE,
CREATE_TIME,UPDATE_TIME,OPERATOR_ID,OPERATOR_TYPE,MEMO,ADDR_REGION1_ID,
ADDR_REGION1_NAME,ADDR_REGION2_ID,ADDR_REGION3_ID,ADDR_REGION3_NAME,ADDR_REGION2_NAME,POLYGON_POINTS
</sql>

<insert id="add" parameterType="DayCarArea" useGeneratedKeys="true" keyProperty="carAreaId">
	insert into T_DAY_CAR_AREA(
		<if test="carAreaId!=null">
		CAR_AREA_ID,
		</if>
		AREA_NAME,
		CITY_ID,
		CITY_NAME,
		LONGITUDE,
		LATITUDE,
		IS_AVAILABLE,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_ID,
		OPERATOR_TYPE,
		MEMO,
		ADDR_REGION1_ID,
		ADDR_REGION1_NAME,
		ADDR_REGION2_ID,
		ADDR_REGION3_ID,
		ADDR_REGION3_NAME,
		ADDR_REGION2_NAME,
		POLYGON_POINTS
	) values (
		<if test="carAreaId!=null">
		#{carAreaId,jdbcType = VARCHAR},
		</if>
		#{areaName,jdbcType = VARCHAR},
		#{cityId,jdbcType = VARCHAR},
		#{cityName,jdbcType = VARCHAR},
		#{longitude,jdbcType = VARCHAR},
		#{latitude,jdbcType = VARCHAR},
		#{isAvailable,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorId,jdbcType = VARCHAR},
		#{operatorType,jdbcType = TINYINT},
		#{memo,jdbcType = VARCHAR},
		#{addrRegion1Id,jdbcType = VARCHAR},
		#{addrRegion1Name,jdbcType = VARCHAR},
		#{addrRegion2Id,jdbcType = VARCHAR},
		#{addrRegion3Id,jdbcType = VARCHAR},
		#{addrRegion3Name,jdbcType = VARCHAR},
		#{addrRegion2Name,jdbcType = VARCHAR},
		#{polygonPoints,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="DayCarArea">
	update T_DAY_CAR_AREA 
	<set>
		<if test="areaName!=null and areaName!=''">
			AREA_NAME=#{areaName,jdbcType = VARCHAR},
		</if>
		<if test="cityId!=null and cityId!=''">
			CITY_ID=#{cityId,jdbcType = VARCHAR},
		</if>
		<if test="cityName!=null and cityName!=''">
			CITY_NAME=#{cityName,jdbcType = VARCHAR},
		</if>
		<if test="longitude!=null and longitude!=''">
			LONGITUDE=#{longitude,jdbcType = VARCHAR},
		</if>
		<if test="latitude!=null and latitude!=''">
			LATITUDE=#{latitude,jdbcType = VARCHAR},
		</if>
		<if test="isAvailable!=null ">
			IS_AVAILABLE=#{isAvailable,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion1Id!=null and addrRegion1Id!=''">
			ADDR_REGION1_ID=#{addrRegion1Id,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion1Name!=null and addrRegion1Name!=''">
			ADDR_REGION1_NAME=#{addrRegion1Name,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion2Id!=null and addrRegion2Id!=''">
			ADDR_REGION2_ID=#{addrRegion2Id,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion3Id!=null and addrRegion3Id!=''">
			ADDR_REGION3_ID=#{addrRegion3Id,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion3Name!=null and addrRegion3Name!=''">
			ADDR_REGION3_NAME=#{addrRegion3Name,jdbcType = VARCHAR},
		</if>
		<if test="addrRegion2Name!=null and addrRegion2Name!=''">
			ADDR_REGION2_NAME=#{addrRegion2Name,jdbcType = VARCHAR},
		</if>
		<if test="polygonPoints!=null and polygonPoints!=''">
			POLYGON_POINTS=#{polygonPoints,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND CAR_AREA_ID=#{carAreaId}
	</where>
</update>

<delete id="delete">
	delete from T_DAY_CAR_AREA 
	<where>
		CAR_AREA_ID=#{0}
	</where>
</delete>

<select id="get" resultMap="DayCarArea">
	select <include refid="AllColumnlist"/> from T_DAY_CAR_AREA
	<where>
		CAR_AREA_ID=#{0}
	</where>
</select>

<select id="getByIds" resultMap="DayCarArea">
	select <include refid="AllColumnlist"/> from T_DAY_CAR_AREA
	<where>
		CAR_AREA_ID in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(CAR_AREA_ID) from T_DAY_CAR_AREA 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="DayCarArea">
	select <include refid="CommonColumnlist"/> from T_DAY_CAR_AREA 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="DayCarArea">
	select <include refid="CommonColumnlist"/> from T_DAY_CAR_AREA
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.carAreaId!=null and q.carAreaId!=''">
			AND CAR_AREA_ID=#{q.carAreaId}
		</if>
		<if test="q.areaName!=null and q.areaName!=''">
			AND AREA_NAME LIKE '%${q.areaName}%'
		</if>
		<if test="q.cityId!=null and q.cityId!=''">
			AND CITY_ID=#{q.cityId}
		</if>
		<if test="q.cityName!=null and q.cityName!=''">
			AND CITY_NAME=#{q.cityName}
		</if>
		<if test="q.longitude!=null and q.longitude!=''">
			AND LONGITUDE=#{q.longitude}
		</if>
		<if test="q.latitude!=null and q.latitude!=''">
			AND LATITUDE=#{q.latitude}
		</if>
		<if test="q.isAvailable!=null ">
			AND IS_AVAILABLE LIKE '%${q.isAvailable}%'
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.addrRegion1Id!=null and q.addrRegion1Id!=''">
			AND ADDR_REGION1_ID=#{q.addrRegion1Id}
		</if>
		<if test="q.addrRegion1Name!=null and q.addrRegion1Name!=''">
			AND ADDR_REGION1_NAME=#{q.addrRegion1Name}
		</if>
		<if test="q.addrRegion2Id!=null and q.addrRegion2Id!=''">
			AND ADDR_REGION2_ID=#{q.addrRegion2Id}
		</if>
		<if test="q.addrRegion3Id!=null and q.addrRegion3Id!=''">
			AND ADDR_REGION3_ID=#{q.addrRegion3Id}
		</if>
		<if test="q.addrRegion3Name!=null and q.addrRegion3Name!=''">
			AND ADDR_REGION3_NAME=#{q.addrRegion3Name}
		</if>
		<if test="q.addrRegion2Name!=null and q.addrRegion2Name!=''">
			AND ADDR_REGION2_NAME=#{q.addrRegion2Name}
		</if>
		<if test="q.polygonPoints!=null and q.polygonPoints!=''">
			AND POLYGON_POINTS=#{q.polygonPoints}
		</if>
	</if>
</sql>

</mapper>