<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.ml.dao.CDocDao">

<resultMap type="CDoc" id="CDoc">
	<id column="DOC_NO" property="docNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="DOC_NAME" property="docName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FILE_NAME" property="fileName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FILE_TYPE" property="fileType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="POSITION" property="position" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="FILE_URL" property="fileUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="BIZ_TYPE" property="bizType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="BIZ_ID" property="bizId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LINK_URL" property="linkUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
DOC_NO,DOC_NAME,FILE_NAME,FILE_TYPE,POSITION,FILE_URL,BIZ_TYPE,
BIZ_ID,IS_DELETED,CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,
LINK_URL
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
DOC_NO,DOC_NAME,FILE_NAME,FILE_TYPE,POSITION,FILE_URL,BIZ_TYPE,
BIZ_ID,IS_DELETED,CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,LINK_URL

</sql>

<insert id="add" parameterType="CDoc" useGeneratedKeys="true" keyProperty="docNo">
	insert into C_DOC(
		<if test="docNo!=null">
		DOC_NO,
		</if>
		DOC_NAME,
		FILE_NAME,
		FILE_TYPE,
		POSITION,
		FILE_URL,
		BIZ_TYPE,
		BIZ_ID,
		IS_DELETED,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		LINK_URL
	) values (
		<if test="docNo!=null">
		#{docNo,jdbcType = VARCHAR},
		</if>
		#{docName,jdbcType = VARCHAR},
		#{fileName,jdbcType = VARCHAR},
		#{fileType,jdbcType = TINYINT},
		#{position,jdbcType = TINYINT},
		#{fileUrl,jdbcType = VARCHAR},
		#{bizType,jdbcType = TINYINT},
		#{bizId,jdbcType = VARCHAR},
		#{isDeleted,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{linkUrl,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="CDoc">
	update C_DOC 
	<set>
		<if test="docName!=null and docName!=''">
			DOC_NAME=#{docName,jdbcType = VARCHAR},
		</if>
		<if test="fileName!=null and fileName!=''">
			FILE_NAME=#{fileName,jdbcType = VARCHAR},
		</if>
		<if test="fileType!=null ">
			FILE_TYPE=#{fileType,jdbcType = TINYINT},
		</if>
		<if test="position!=null ">
			POSITION=#{position,jdbcType = TINYINT},
		</if>
		<if test="fileUrl!=null and fileUrl!=''">
			FILE_URL=#{fileUrl,jdbcType = VARCHAR},
		</if>
		<if test="bizType!=null ">
			BIZ_TYPE=#{bizType,jdbcType = TINYINT},
		</if>
		<if test="bizId!=null and bizId!=''">
			BIZ_ID=#{bizId,jdbcType = VARCHAR},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="linkUrl!=null and linkUrl!=''">
			LINK_URL=#{linkUrl,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND DOC_NO=#{docNo}
	</where>
</update>

<delete id="delete">
	delete from C_DOC 
	<where>
		DOC_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="CDoc">
	select <include refid="AllColumnlist"/> from C_DOC
	<where>
		DOC_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="CDoc">
	select <include refid="AllColumnlist"/> from C_DOC
	<where>
		DOC_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(DOC_NO) from C_DOC 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="CDoc">
	select <include refid="CommonColumnlist"/> from C_DOC 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="CDoc">
	select <include refid="CommonColumnlist"/> from C_DOC
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	order by UPDATE_TIME desc
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.docNo!=null and q.docNo!=''">
			AND DOC_NO=#{q.docNo}
		</if>
		<if test="q.docName!=null and q.docName!=''">
			AND DOC_NAME=#{q.docName}
		</if>
		<if test="q.fileName!=null and q.fileName!=''">
			AND FILE_NAME=#{q.fileName}
		</if>
		<if test="q.fileType!=null ">
			AND FILE_TYPE=#{q.fileType}
		</if>
		<if test="q.position!=null ">
			AND POSITION=#{q.position}
		</if>
		<if test="q.fileUrl!=null and q.fileUrl!=''">
			AND FILE_URL=#{q.fileUrl}
		</if>
		<if test="q.bizType!=null ">
			AND BIZ_TYPE=#{q.bizType}
		</if>
		<if test="q.bizId!=null and q.bizId!=''">
			AND BIZ_ID=#{q.bizId}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.linkUrl!=null and q.linkUrl!=''">
			AND LINK_URL=#{q.linkUrl}
		</if>
	</if>
</sql>
<select id="getCDocNo" resultType="String">
 select DOC_NO docNo from c_doc where  BIZ_ID=#{0}
</select>
</mapper>