<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.ml.dao.COperatingCityDao">

<resultMap type="COperatingCity" id="COperatingCity">
	<id column="OPERATING_CITY_NO" property="operatingCityNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERATING_CITY_NAME" property="operatingCityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LONGITUDE" property="longitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LATITUDE" property="latitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="ENABLE_STATUS" property="enableStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CITY_NAME" property="cityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>
<resultMap type="COperatingCity" id="COperatingCityVo">
	<id column="OPERATING_CITY_NO" property="operatingCityNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERAING_CITY_NAME" property="operaingCityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>

<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
OPERATING_CITY_NO,OPERATING_CITY_NAME,LONGITUDE,LATITUDE,CREATE_TIME,UPDATE_TIME,OPERATOR_ID,
OPERATOR_TYPE,ENABLE_STATUS,CITY_NAME
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
OPERATING_CITY_NO,OPERATING_CITY_NAME,LONGITUDE,LATITUDE,CREATE_TIME,UPDATE_TIME,OPERATOR_ID,
OPERATOR_TYPE,ENABLE_STATUS,CITY_NAME
</sql>

<insert id="add" parameterType="COperatingCity" useGeneratedKeys="true" keyProperty="operatingCityNo">
	insert into C_OPERATING_CITY(
		<if test="operatingCityNo!=null">
		OPERATING_CITY_NO,
		</if>
		OPERATING_CITY_NAME,
		LONGITUDE,
		LATITUDE,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_ID,
		OPERATOR_TYPE,
		ENABLE_STATUS,
		CITY_NAME
	) values (
		<if test="operatingCityNo!=null">
		#{operatingCityNo,jdbcType = VARCHAR},
		</if>
		#{operatingCityName,jdbcType = VARCHAR},
		#{longitude,jdbcType = VARCHAR},
		#{latitude,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorId,jdbcType = VARCHAR},
		#{operatorType,jdbcType = TINYINT},
		#{enableStatus,jdbcType = TINYINT},
		#{cityName,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="COperatingCity">
	update C_OPERATING_CITY 
	<set>
		<if test="operatingCityName!=null and operatingCityName!=''">
			OPERATING_CITY_NAME=#{operatingCityName,jdbcType = VARCHAR},
		</if>
		<if test="longitude!=null and longitude!=''">
			LONGITUDE=#{longitude,jdbcType = VARCHAR},
		</if>
		<if test="latitude!=null and latitude!=''">
			LATITUDE=#{latitude,jdbcType = VARCHAR},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="enableStatus!=null ">
			ENABLE_STATUS=#{enableStatus,jdbcType = TINYINT},
		</if>
		<if test="cityName!=null ">
			CITY_NAME=#{cityName,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND OPERATING_CITY_NO=#{operatingCityNo}
	</where>
</update>

<delete id="delete">
	delete from C_OPERATING_CITY 
	<where>
		OPERATING_CITY_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="COperatingCity">
	select <include refid="AllColumnlist"/> from C_OPERATING_CITY
	<where>
		OPERATING_CITY_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="COperatingCity">
	select <include refid="AllColumnlist"/> from C_OPERATING_CITY
	<where>
		OPERATING_CITY_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(OPERATING_CITY_NO) from C_OPERATING_CITY 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="COperatingCity">
	select <include refid="CommonColumnlist"/> from C_OPERATING_CITY 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="COperatingCity">
	select <include refid="CommonColumnlist"/> from C_OPERATING_CITY
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	order by UPDATE_TIME desc
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.operatingCityNo!=null and q.operatingCityNo!=''">
			AND OPERATING_CITY_NO like "%"#{q.operatingCityNo}"%"
		</if>
		<if test="q.operatingCityName!=null and q.operatingCityName!=''">
			AND OPERATING_CITY_NAME=#{q.operatingCityName}
		</if>
		<if test="q.longitude!=null and q.longitude!=''">
			AND LONGITUDE=#{q.longitude}
		</if>
		<if test="q.latitude!=null and q.latitude!=''">
			AND LATITUDE=#{q.latitude}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.enableStatus!=null ">
			AND ENABLE_STATUS=#{q.enableStatus}
		</if>
		<if test="q.cityName!=null ">
			AND CITY_NAME=#{q.cityName}
		</if>
	</if>
</sql>
<!-- 根据参数经纬度计算最近的运营城市 -->
<select id="getNearOperatingCity" parameterType="java.lang.String" resultMap="COperatingCity">
	SELECT
		OPERATING_CITY_NO,
		OPERATING_CITY_NAME,
		LONGITUDE,
		LATITUDE,
		CITY_NAME,
		12756274 * asin(
		Sqrt(
			power(
				sin(
					(
						#{1} - LATITUDE) * 0.008726646 ), 2
					) + Cos(
						#{1} * 0.0174533) * Cos(LATITUDE * 0.0174533) * power(
						sin(
							(
								#{0} - LONGITUDE) * 0.008726646 ), 2
							)
						)
					) AS distance
					FROM
						c_operating_city
					WHERE
						ENABLE_STATUS = 1
					ORDER BY
						distance ASC
					LIMIT 0,1
</select>
</mapper>