<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.member.dao.MemberZhimaScoreDao">

<resultMap type="MemberZhimaScore" id="MemberZhimaScore">
	<id column="MEMBER_NO" property="memberNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMBER_NAME" property="memberName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MOBILE_PHONE" property="mobilePhone" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPEN_ID" property="openId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TRANSACTION_ID" property="transactionId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TRANSACTION_TIME" property="transactionTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="RESPONSE_ERROR_CORE" property="responseErrorCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="RESPONSE_ERROR_MSG" property="responseErrorMsg" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SCORE" property="score" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
MEMBER_NO,MEMBER_NAME,MOBILE_PHONE,OPEN_ID,TRANSACTION_ID,TRANSACTION_TIME,SCORE,
CREATE_TIME,UPDATE_TIME,RESPONSE_ERROR_CORE,RESPONSE_ERROR_MSG
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
MEMBER_NO,MEMBER_NAME,MOBILE_PHONE,OPEN_ID,TRANSACTION_ID,TRANSACTION_TIME,SCORE,
CREATE_TIME,UPDATE_TIME,RESPONSE_ERROR_CORE,RESPONSE_ERROR_MSG
</sql>

<insert id="add" parameterType="MemberZhimaScore" useGeneratedKeys="true" keyProperty="memberNo">
	insert into T_MEMBER_ZHIMA_SCORE(
		<if test="memberNo!=null">
		MEMBER_NO,
		</if>
		MEMBER_NAME,
		MOBILE_PHONE,
		OPEN_ID,
		TRANSACTION_ID,
		TRANSACTION_TIME,
		SCORE,
		RESPONSE_ERROR_CORE,
		RESPONSE_ERROR_MSG,
		CREATE_TIME,
		UPDATE_TIME
	) values (
		<if test="memberNo!=null">
		#{memberNo,jdbcType = VARCHAR},
		</if>
		#{memberName,jdbcType = VARCHAR},
		#{mobilePhone,jdbcType = VARCHAR},
		#{openId,jdbcType = VARCHAR},
		#{transactionId,jdbcType = VARCHAR},
		#{transactionTime,jdbcType = TIMESTAMP},
		#{score,jdbcType = INTEGER},
		#{responseErrorCode,jdbcType = VARCHAR},
		#{responseErrorMsg,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP}
	)
</insert>

<update id="update" parameterType="MemberZhimaScore">
	update t_member_zhima_score 
	<set>
		<if test="memberName!=null and memberName!=''">
			MEMBER_NAME=#{memberName,jdbcType = VARCHAR},
		</if>
		<if test="mobilePhone!=null and mobilePhone!=''">
			MOBILE_PHONE=#{mobilePhone,jdbcType = VARCHAR},
		</if>
		<if test="openId!=null and openId!=''">
			OPEN_ID=#{openId,jdbcType = VARCHAR},
		</if>
		<if test="responseErrorCode!=null and responseErrorCode!=''">
			RESPONSE_ERROR_CORE=#{responseErrorCode,jdbcType = VARCHAR},
		</if>
		<if test="responseErrorMsg!=null and responseErrorMsg!=''">
			RESPONSE_ERROR_MSG=#{responseErrorMsg,jdbcType = VARCHAR},
		</if>
		<if test="transactionId!=null and transactionId!=''">
			TRANSACTION_ID=#{transactionId,jdbcType = VARCHAR},
		</if>
		<if test="transactionTime!=null">
			TRANSACTION_TIME=#{transactionTime,jdbcType = TIMESTAMP},
		</if>
		<if test="score!=null and score!=''">
			SCORE=#{score,jdbcType = INTEGER},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
	</set>
	<where>
		AND MEMBER_NO=#{memberNo}
	</where>
</update>


<update id="updateForBusiness" parameterType="MemberZhimaScore">
	update t_member_zhima_score 
	<set>
		RESPONSE_ERROR_CORE=#{responseErrorCode,jdbcType = VARCHAR},
		RESPONSE_ERROR_MSG=#{responseErrorMsg,jdbcType = VARCHAR},
		SCORE=#{score,jdbcType = INTEGER},
		<if test="memberName!=null and memberName!=''">
			MEMBER_NAME=#{memberName,jdbcType = VARCHAR},
		</if>
		<if test="mobilePhone!=null and mobilePhone!=''">
			MOBILE_PHONE=#{mobilePhone,jdbcType = VARCHAR},
		</if>
		<if test="openId!=null and openId!=''">
			OPEN_ID=#{openId,jdbcType = VARCHAR},
		</if>
		<if test="transactionId!=null and transactionId!=''">
			TRANSACTION_ID=#{transactionId,jdbcType = VARCHAR},
		</if>
		<if test="transactionTime!=null">
			TRANSACTION_TIME=#{transactionTime,jdbcType = TIMESTAMP},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
	</set>
	<where>
		AND MEMBER_NO=#{memberNo}
	</where>
</update>

<delete id="delete">
	delete from t_member_zhima_score 
	<where>
		MEMBER_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="MemberZhimaScore">
	select <include refid="AllColumnlist"/> from t_member_zhima_score
	<where>
		MEMBER_NO=#{0}
	</where>
</select>
<!-- 根据名字获取id -->
<select id="getByName" resultType="string">
	select MEMBER_NO from t_member_zhima_score
	<where>
		MEMBER_NAME=#{0}
	</where>
</select>
<select id="getByIds" resultMap="MemberZhimaScore">
	select <include refid="AllColumnlist"/> from t_member_zhima_score
	<where>
		MEMBER_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(MEMBER_NO) from t_member_zhima_score 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="MemberZhimaScore">
	select <include refid="CommonColumnlist"/> from t_member_zhima_score 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="MemberZhimaScore">
	select <include refid="CommonColumnlist"/> from t_member_zhima_score
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	order by update_time desc,create_time desc
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.memberNo!=null and q.memberNo!=''">
			AND MEMBER_NO=#{q.memberNo}
		</if>
		<if test="q.memberName!=null and q.memberName!=''">
			AND MEMBER_NAME like '%${q.memberName}%'
		</if>
		<if test="q.mobilePhone!=null and q.mobilePhone!=''">
			AND MOBILE_PHONE=#{q.mobilePhone}
		</if>
		<if test="q.openId!=null and q.openId!=''">
			AND OPEN_ID=#{q.openId}
		</if>
		<if test="q.responseErrorCode!=null and q.responseErrorCode!=''">
			AND responseErrorCode=#{q.responseErrorCode}
		</if>
		<if test="q.responseErrorMsg!=null and q.responseErrorMsg!=''">
			AND RESPONSE_ERROR_MSG=#{q.responseErrorMsg}
		</if>
		<if test="q.transactionId!=null and q.transactionId!=''">
			AND TRANSACTION_ID=#{q.transactionId}
		</if>
		<if test="q.transactionTime!=null">
			AND TRANSACTION_TIME=#{q.transactiontime}
		</if>
		<if test="q.transactionTimeStart!=null">
		<![CDATA[	AND CENCOR_TIME>=#{q.transactionTimeStart}  ]]>
		</if>
		<if test="q.transactionTimeEnd!=null">
		<![CDATA[	AND CENCOR_TIME<#{q.transactionTimeEnd}   ]]>
		</if>
		<if test="q.score!=null and q.score!=''">
			AND SCORE=#{q.score}
		</if>
		
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
	</if>
</sql>

</mapper>
