<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.order.dao.OrderMonthDao">

	<resultMap type="OrderMonth" id="OrderMonth">
		<id column="ORDER_NO" property="orderNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="MEMBER_NO" property="memberNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="MEMBER_NAME" property="memberName" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="MOBILE_PHONE" property="mobilePhone" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CAR_NO" property="carNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CAR_PLATE_NO" property="carPlateNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CAR_MODEL_ID" property="carModelId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CITY_ID" property="cityId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="cityName" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="ORDER_STATUS" property="orderStatus" javaType="java.lang.Integer"
			jdbcType="TINYINT" />
		<result column="ORDER_AMOUNT" property="orderAmount" javaType="java.lang.Double"
			jdbcType="DOUBLE" />
		<result column="DEPOSIT" property="deposit" javaType="java.lang.Double"
			jdbcType="DOUBLE" />
		<result column="INSURANCE" property="insurance" javaType="java.lang.Double"
			jdbcType="DOUBLE" />
		<result column="DISCOUNT_AMOUNT" property="discountAmount"
			javaType="java.lang.Double" jdbcType="DOUBLE" />
		<result column="PAYABLE_AMOUNT" property="payableAmount"
			javaType="java.lang.Double" jdbcType="DOUBLE" />
		<result column="PAY_STATUS" property="payStatus" javaType="java.lang.Integer"
			jdbcType="TINYINT" />
		<result column="PAYMENT_METHOD" property="paymentMethod"
			javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="PAYMENT_TIME" property="paymentTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="PAYMENT_FLOW_NO" property="paymentFlowNo"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="INVOICE_ID" property="invoiceId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="START_PARK_NO" property="startParkNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="ACTUAL_TAKE_LOACTON" property="actualTakeLoacton"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="TERMINAL_PARK_NO" property="terminalParkNo"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ACTUAL_TERMINAL_PARK_NAME" property="actualTerminalParkName"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ACTUAL_TERMINAL_PARK_NO" property="actualTerminalParkNo"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="APPOINTMENT_TIME" property="appointmentTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="START_BILLING_TIME" property="startBillingTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="FINISH_TIME" property="finishTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="ORDER_DURATION" property="orderDuration"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="ORDER_MEMO" property="orderMemo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="IS_CANCEL" property="isCancel" javaType="java.lang.Integer"
			jdbcType="TINYINT" />
		<result column="CANCEL_TIME" property="cancelTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="CANCEL_OPERATOR_TYPE" property="cancelOperatorType"
			javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="CANCEL_OPERATOR_ID" property="cancelOperatorId"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="IS_NEED_INVOICE" property="isNeedInvoice"
			javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="IS_INVOICE_ISSUED" property="isInvoiceIssued"
			javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="INVOICE_TIME" property="invoiceTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="INVIOCE_NO" property="invioceNo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="MEMO" property="memo" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result column="OPERATOR_TYPE" property="operatorType"
			javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="COMPANY" property="company" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="PROPOSE_NUMBER" property="proposeNumber"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="PROPOSE_START_TIME" property="proposeStartTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="PROPOSE_ENDT_TIME" property="proposeEndtTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="ACTUAL_NUMBER" property="actualNumber"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="ACTUAL_START_TIME" property="actualStartTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="ACTUAL_END_TIME" property="actualEndTime"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>


	<!-- 全部字段，一般用于明细查询 -->
	<sql id="AllColumnlist">
		ORDER_NO,MEMBER_NO,MOBILE_PHONE,CAR_NO,CAR_PLATE_NO,CAR_MODEL_ID,CITY_ID,
		CITY_NAME,ORDER_STATUS,ORDER_AMOUNT,DEPOSIT,INSURANCE,DISCOUNT_AMOUNT,
		PAYABLE_AMOUNT,PAY_STATUS,PAYMENT_METHOD,PAYMENT_TIME,PAYMENT_FLOW_NO,INVOICE_ID,
		START_PARK_NO,ACTUAL_TAKE_LOACTON,TERMINAL_PARK_NO,ACTUAL_TERMINAL_PARK_NO,APPOINTMENT_TIME,START_BILLING_TIME,
		FINISH_TIME,ORDER_DURATION,ORDER_MEMO,IS_CANCEL,CANCEL_TIME,CANCEL_OPERATOR_TYPE,
		CANCEL_OPERATOR_ID,IS_NEED_INVOICE,IS_INVOICE_ISSUED,INVOICE_TIME,INVIOCE_NO,MEMO,
		CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,COMPANY,PROPOSE_NUMBER,
		PROPOSE_START_TIME,PROPOSE_ENDT_TIME,ACTUAL_NUMBER,ACTUAL_START_TIME,ACTUAL_END_TIME,ACTUAL_TERMINAL_PARK_NAME,MEMBER_NAME
	</sql>

	<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
	<sql id="CommonColumnlist">
		ORDER_NO,MEMBER_NO,MOBILE_PHONE,CAR_NO,CAR_PLATE_NO,CAR_MODEL_ID,CITY_ID,
		CITY_NAME,ORDER_STATUS,ORDER_AMOUNT,DEPOSIT,INSURANCE,DISCOUNT_AMOUNT,
		PAYABLE_AMOUNT,PAY_STATUS,PAYMENT_METHOD,PAYMENT_TIME,PAYMENT_FLOW_NO,INVOICE_ID,
		START_PARK_NO,ACTUAL_TAKE_LOACTON,TERMINAL_PARK_NO,ACTUAL_TERMINAL_PARK_NO,APPOINTMENT_TIME,START_BILLING_TIME,
		FINISH_TIME,ORDER_DURATION,ORDER_MEMO,IS_CANCEL,CANCEL_TIME,CANCEL_OPERATOR_TYPE,
		CANCEL_OPERATOR_ID,IS_NEED_INVOICE,IS_INVOICE_ISSUED,INVOICE_TIME,INVIOCE_NO,MEMO,
		CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,COMPANY,PROPOSE_NUMBER,
		PROPOSE_START_TIME,PROPOSE_ENDT_TIME,ACTUAL_NUMBER,ACTUAL_START_TIME,ACTUAL_END_TIME,ACTUAL_TERMINAL_PARK_NAME,MEMBER_NAME
	</sql>

	<insert id="add" parameterType="OrderMonth" useGeneratedKeys="true"
		keyProperty="orderNo">
		insert into T_ORDER_MONTH(
		<if test="orderNo!=null">
			ORDER_NO,
		</if>
		MEMBER_NO,
		MOBILE_PHONE,
		CAR_NO,
		CAR_PLATE_NO,
		CAR_MODEL_ID,
		CITY_ID,
		CITY_NAME,
		ORDER_STATUS,
		ORDER_AMOUNT,
		DEPOSIT,
		INSURANCE,
		DISCOUNT_AMOUNT,
		PAYABLE_AMOUNT,
		PAY_STATUS,
		PAYMENT_METHOD,
		PAYMENT_TIME,
		PAYMENT_FLOW_NO,
		INVOICE_ID,
		START_PARK_NO,
		ACTUAL_TAKE_LOACTON,
		TERMINAL_PARK_NO,
		ACTUAL_TERMINAL_PARK_NO,
		APPOINTMENT_TIME,
		START_BILLING_TIME,
		FINISH_TIME,
		ORDER_DURATION,
		ORDER_MEMO,
		IS_CANCEL,
		CANCEL_TIME,
		CANCEL_OPERATOR_TYPE,
		CANCEL_OPERATOR_ID,
		IS_NEED_INVOICE,
		IS_INVOICE_ISSUED,
		INVOICE_TIME,
		INVIOCE_NO,
		MEMO,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		COMPANY,
		PROPOSE_NUMBER,
		PROPOSE_START_TIME,
		PROPOSE_ENDT_TIME,
		ACTUAL_NUMBER,
		ACTUAL_START_TIME,
		ACTUAL_END_TIME,
		ACTUAL_TERMINAL_PARK_NAME,
		MEMBER_NAME
		) values (
		<if test="orderNo!=null">
			#{orderNo,jdbcType = VARCHAR},
		</if>
		#{memberNo,jdbcType = VARCHAR},
		#{mobilePhone,jdbcType = VARCHAR},
		#{carNo,jdbcType = VARCHAR},
		#{carPlateNo,jdbcType = VARCHAR},
		#{carModelId,jdbcType = VARCHAR},
		#{cityId,jdbcType = VARCHAR},
		#{cityName,jdbcType = VARCHAR},
		#{orderStatus,jdbcType = TINYINT},
		#{orderAmount,jdbcType = DOUBLE},
		#{deposit,jdbcType = DOUBLE},
		#{insurance,jdbcType = DOUBLE},
		#{discountAmount,jdbcType = DOUBLE},
		#{payableAmount,jdbcType = DOUBLE},
		#{payStatus,jdbcType = TINYINT},
		#{paymentMethod,jdbcType = TINYINT},
		#{paymentTime,jdbcType =
		TIMESTAMP},
		#{paymentFlowNo,jdbcType = VARCHAR},
		#{invoiceId,jdbcType =
		VARCHAR},
		#{startParkNo,jdbcType = VARCHAR},
		#{actualTakeLoacton,jdbcType = VARCHAR},
		#{terminalParkNo,jdbcType =
		VARCHAR},
		#{actualTerminalParkNo,jdbcType = VARCHAR},
		#{appointmentTime,jdbcType = TIMESTAMP},
		#{startBillingTime,jdbcType =
		TIMESTAMP},
		#{finishTime,jdbcType = TIMESTAMP},
		#{orderDuration,jdbcType = INTEGER},
		#{orderMemo,jdbcType = VARCHAR},
		#{isCancel,jdbcType = TINYINT},
		#{cancelTime,jdbcType = TIMESTAMP},
		#{cancelOperatorType,jdbcType = TINYINT},
		#{cancelOperatorId,jdbcType =
		VARCHAR},
		#{isNeedInvoice,jdbcType = TINYINT},
		#{isInvoiceIssued,jdbcType = TINYINT},
		#{invoiceTime,jdbcType =
		TIMESTAMP},
		#{invioceNo,jdbcType = VARCHAR},
		#{memo,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{company,jdbcType = VARCHAR},
		#{proposeNumber,jdbcType = INTEGER},
		#{proposeStartTime,jdbcType = TIMESTAMP},
		#{proposeEndtTime,jdbcType =
		TIMESTAMP},
		#{actualNumber,jdbcType = INTEGER},
		#{actualStartTime,jdbcType = TIMESTAMP},
		#{actualEndTime,jdbcType
		=TIMESTAMP},
		#{actualTerminalParkName,jdbcType = VARCHAR},
		#{memberName,jdbcType = VARCHAR}
		)
	</insert>

	<update id="update" parameterType="OrderMonth">
		update t_order_month
		<set>
			<if test="memberNo!=null and memberNo!=''">
				MEMBER_NO=#{memberNo,jdbcType = VARCHAR},
			</if>
			<if test="memberName!=null and memberName!=''">
				MEMBER_NAME=#{memberName,jdbcType = VARCHAR},
			</if>
			<if test="mobilePhone!=null and mobilePhone!=''">
				MOBILE_PHONE=#{mobilePhone,jdbcType = VARCHAR},
			</if>
			<if test="carNo!=null and carNo!=''">
				CAR_NO=#{carNo,jdbcType = VARCHAR},
			</if>
			<if test="carPlateNo!=null and carPlateNo!=''">
				CAR_PLATE_NO=#{carPlateNo,jdbcType = VARCHAR},
			</if>
			<if test="carModelId!=null and carModelId!=''">
				CAR_MODEL_ID=#{carModelId,jdbcType = VARCHAR},
			</if>
			<if test="cityId!=null and cityId!=''">
				CITY_ID=#{cityId,jdbcType = VARCHAR},
			</if>
			<if test="cityName!=null and cityName!=''">
				CITY_NAME=#{cityName,jdbcType = VARCHAR},
			</if>
			<if test="orderStatus!=null ">
				ORDER_STATUS=#{orderStatus,jdbcType = TINYINT},
			</if>
			<if test="orderAmount!=null ">
				ORDER_AMOUNT=#{orderAmount,jdbcType = DOUBLE},
			</if>
			<if test="deposit!=null ">
				DEPOSIT=#{deposit,jdbcType = DOUBLE},
			</if>
			<if test="insurance!=null ">
				INSURANCE=#{insurance,jdbcType = DOUBLE},
			</if>
			<if test="discountAmount!=null ">
				DISCOUNT_AMOUNT=#{discountAmount,jdbcType = DOUBLE},
			</if>
			<if test="payableAmount!=null ">
				PAYABLE_AMOUNT=#{payableAmount,jdbcType = DOUBLE},
			</if>
			<if test="payStatus!=null ">
				PAY_STATUS=#{payStatus,jdbcType = TINYINT},
			</if>
			<if test="paymentMethod!=null ">
				PAYMENT_METHOD=#{paymentMethod,jdbcType = TINYINT},
			</if>
			<if test="paymentTime!=null ">
				PAYMENT_TIME=#{paymentTime,jdbcType = TIMESTAMP},
			</if>
			<if test="paymentFlowNo!=null and paymentFlowNo!=''">
				PAYMENT_FLOW_NO=#{paymentFlowNo,jdbcType = VARCHAR},
			</if>
			<if test="actualTerminalParkName!=null and actualTerminalParkName!=''">
				ACTUAL_TERMINAL_PARK_NAME=#{actualTerminalParkName,jdbcType =
				VARCHAR},
			</if>
			<if test="invoiceId!=null and invoiceId!=''">
				INVOICE_ID=#{invoiceId,jdbcType = VARCHAR},
			</if>
			<if test="startParkNo!=null and startParkNo!=''">
				START_PARK_NO=#{startParkNo,jdbcType = VARCHAR},
			</if>
			<if test="actualTakeLoacton!=null and actualTakeLoacton!=''">
				ACTUAL_TAKE_LOACTON=#{actualTakeLoacton,jdbcType =
				VARCHAR},
			</if>
			<if test="terminalParkNo!=null and terminalParkNo!=''">
				TERMINAL_PARK_NO=#{terminalParkNo,jdbcType = VARCHAR},
			</if>
			<if test="actualTerminalParkNo!=null and actualTerminalParkNo!=''">
				ACTUAL_TERMINAL_PARK_NO=#{actualTerminalParkNo,jdbcType =
				VARCHAR},
			</if>
			<if test="appointmentTime!=null ">
				APPOINTMENT_TIME=#{appointmentTime,jdbcType = TIMESTAMP},
			</if>
			<if test="startBillingTime!=null ">
				START_BILLING_TIME=#{startBillingTime,jdbcType =
				TIMESTAMP},
			</if>
			<if test="finishTime!=null ">
				FINISH_TIME=#{finishTime,jdbcType = TIMESTAMP},
			</if>
			<if test="orderDuration!=null ">
				ORDER_DURATION=#{orderDuration,jdbcType = INTEGER},
			</if>
			<if test="orderMemo!=null and orderMemo!=''">
				ORDER_MEMO=#{orderMemo,jdbcType = VARCHAR},
			</if>
			<if test="isCancel!=null ">
				IS_CANCEL=#{isCancel,jdbcType = TINYINT},
			</if>
			<if test="cancelTime!=null ">
				CANCEL_TIME=#{cancelTime,jdbcType = TIMESTAMP},
			</if>
			<if test="cancelOperatorType!=null ">
				CANCEL_OPERATOR_TYPE=#{cancelOperatorType,jdbcType =
				TINYINT},
			</if>
			<if test="cancelOperatorId!=null and cancelOperatorId!=''">
				CANCEL_OPERATOR_ID=#{cancelOperatorId,jdbcType =
				VARCHAR},
			</if>
			<if test="isNeedInvoice!=null ">
				IS_NEED_INVOICE=#{isNeedInvoice,jdbcType = TINYINT},
			</if>
			<if test="isInvoiceIssued!=null ">
				IS_INVOICE_ISSUED=#{isInvoiceIssued,jdbcType = TINYINT},
			</if>
			<if test="invoiceTime!=null ">
				INVOICE_TIME=#{invoiceTime,jdbcType = TIMESTAMP},
			</if>
			<if test="invioceNo!=null and invioceNo!=''">
				INVIOCE_NO=#{invioceNo,jdbcType = VARCHAR},
			</if>
			<if test="memo!=null and memo!=''">
				MEMO=#{memo,jdbcType = VARCHAR},
			</if>
			<if test="createTime!=null ">
				CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
			</if>
			<if test="updateTime!=null ">
				UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
			</if>
			<if test="operatorType!=null ">
				OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
			</if>
			<if test="operatorId!=null and operatorId!=''">
				OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
			</if>
			<if test="company!=null and company!=''">
				COMPANY=#{company,jdbcType = VARCHAR},
			</if>
			<if test="proposeNumber!=null ">
				PROPOSE_NUMBER=#{proposeNumber,jdbcType = INTEGER},
			</if>
			<if test="proposeStartTime!=null ">
				PROPOSE_START_TIME=#{proposeStartTime,jdbcType =
				TIMESTAMP},
			</if>
			<if test="proposeEndtTime!=null ">
				PROPOSE_ENDT_TIME=#{proposeEndtTime,jdbcType =
				TIMESTAMP},
			</if>
			<if test="actualNumber!=null ">
				ACTUAL_NUMBER=#{actualNumber,jdbcType = INTEGER},
			</if>
			<if test="actualStartTime!=null ">
				ACTUAL_START_TIME=#{actualStartTime,jdbcType =
				TIMESTAMP},
			</if>
			<if test="actualEndTime!=null ">
				ACTUAL_END_TIME=#{actualEndTime,jdbcType = TIMESTAMP},
			</if>
		</set>
		<where>
			AND ORDER_NO=#{orderNo}
		</where>
	</update>

	<delete id="delete">
		delete from t_order_month
		<where>
			ORDER_NO=#{0}
		</where>
	</delete>

	<select id="get" resultMap="OrderMonth">
		select
		<include refid="AllColumnlist" />
		from t_order_month
		<where>
			ORDER_NO=#{0}
		</where>
	</select>

	<select id="getByIds" resultMap="OrderMonth">
		select
		<include refid="AllColumnlist" />
		from t_order_month
		<where>
			ORDER_NO in
			<foreach item="item" index="index" collection="array" open="("
				separator="," close=")">#{item}</foreach>
		</where>
	</select>

	<select id="count" parameterType="Query" resultType="Long">
		select count(ORDER_NO) from t_order_month
		<where>
			<include refid="listCommonWhere" />
		</where>
	</select>

	<select id="queryAll" parameterType="Query" resultMap="OrderMonth">
		select
		<include refid="CommonColumnlist" />
		from t_order_month
		<where>
			<include refid="listCommonWhere" />
		</where>
	</select>

	<select id="pageList" parameterType="Query" resultMap="OrderMonth">
		select
		<include refid="CommonColumnlist" />
		from t_order_month
		<where>
			<include refid="listCommonWhere" />
		</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
	</select>

	<select id="pageListNs" parameterType="Query" resultMap="OrderMonth">
		SELECT
		o.*,m.MEMBER_NAME AS memberName
		FROM
		t_order_month o
		LEFT JOIN
		t_member m ON o.MEMBER_NO = m.MEMBER_NO
		<where>
			<include refid="listCommonWhere" />
		</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
	</select>
	<select id="countNs" parameterType="Query" resultType="Long">
		SELECT
		count(o.ORDER_NO)
		FROM
		t_order_month o
		LEFT JOIN t_member m ON
		o.MEMBER_NO = m.MEMBER_NO
		<where>
			<include refid="listCommonWhere" />
		</where>
	</select>

	<sql id="listCommonWhereNs">
		<if test="q!=null">
			<if test="q.orderNo!=null and q.orderNo!=''">
				AND o.ORDER_NO like '%${q.orderNo}%'
			</if>
			<if test="q.memberName!=null and q.memberName!=''">
				AND o.MEMBER_NAME like '%${q.memberName}%'
			</if>
			<if test="q.memberNo!=null and q.memberNo!=''">
				AND o.MEMBER_NO=#{q.memberNo}
			</if>
			<if test="q.mobilePhone!=null and q.mobilePhone!=''">
				AND o.MOBILE_PHONE like '%${q.mobilePhone}%'
			</if>
			<if test="q.actualTerminalParkName!=null and q.actualTerminalParkName!=''">
				AND o.ACTUAL_TERMINAL_PARK_NAME like
				'%${q.actualTerminalParkName}%'
			</if>
			<if test="q.carNo!=null and q.carNo!=''">
				AND o.CAR_NO=#{q.carNo}
			</if>
			<if test="q.carPlateNo!=null and q.carPlateNo!=''">
				AND o.CAR_PLATE_NO like '%${q.carPlateNo}%'
			</if>
			<if test="q.carModelId!=null and q.carModelId!=''">
				AND o.CAR_MODEL_ID=#{q.carModelId}
			</if>
			<if test="q.cityId!=null and q.cityId!=''">
				AND o.CITY_ID=#{q.cityId}
			</if>
			<if test="q.cityName!=null and q.cityName!=''">
				AND o.CITY_NAME=#{q.cityName}
			</if>
			<if test="q.orderStatus!=null ">
				AND o.ORDER_STATUS=#{q.orderStatus}
			</if>
			<if test="q.orderAmount!=null ">
				AND o.ORDER_AMOUNT=#{q.orderAmount}
			</if>
			<if test="q.deposit!=null ">
				AND o.DEPOSIT=#{q.deposit}
			</if>
			<if test="q.insurance!=null ">
				AND o.INSURANCE=#{q.insurance}
			</if>
			<if test="q.discountAmount!=null ">
				AND o.DISCOUNT_AMOUNT=#{q.discountAmount}
			</if>
			<if test="q.payableAmount!=null ">
				AND o.PAYABLE_AMOUNT=#{q.payableAmount}
			</if>
			<if test="q.payStatus!=null ">
				AND o.PAY_STATUS=#{q.payStatus}
			</if>
			<if test="q.paymentMethod!=null ">
				AND o.PAYMENT_METHOD=#{q.paymentMethod}
			</if>
			<if test="q.paymentTime!=null ">
				AND o.PAYMENT_TIME=#{q.paymentTime}
			</if>
			<if test="q.paymentTimeStart!=null">
		<![CDATA[	AND o.PAYMENT_TIME>=#{q.paymentTimeStart}  ]]>
			</if>
			<if test="q.paymentTimeEnd!=null">
		<![CDATA[	AND PAYMENT_TIME<#{q.paymentTimeEnd}   ]]>
			</if>
			<if test="q.paymentFlowNo!=null and q.paymentFlowNo!=''">
				AND o.PAYMENT_FLOW_NO=#{q.paymentFlowNo}
			</if>
			<if test="q.invoiceId!=null and q.invoiceId!=''">
				AND o.INVOICE_ID=#{q.invoiceId}
			</if>
			<if test="q.startParkNo!=null and q.startParkNo!=''">
				AND o.START_PARK_NO=#{q.startParkNo}
			</if>
			<if test="q.actualTakeLoacton!=null and q.actualTakeLoacton!=''">
				AND o.ACTUAL_TAKE_LOACTON=#{q.actualTakeLoacton}
			</if>
			<if test="q.terminalParkNo!=null and q.terminalParkNo!=''">
				AND o.TERMINAL_PARK_NO=#{q.terminalParkNo}
			</if>
			<if test="q.actualTerminalParkNo!=null and q.actualTerminalParkNo!=''">
				AND o.ACTUAL_TERMINAL_PARK_NO=#{q.actualTerminalParkNo}
			</if>
			<if test="q.appointmentTime!=null ">
				AND o.APPOINTMENT_TIME=#{q.appointmentTime}
			</if>
			<if test="q.appointmentTimeStart!=null">
		<![CDATA[	AND o.APPOINTMENT_TIME>=#{q.appointmentTimeStart}  ]]>
			</if>
			<if test="q.appointmentTimeEnd!=null">
		<![CDATA[	AND o.APPOINTMENT_TIME<#{q.appointmentTimeEnd}   ]]>
			</if>
			<if test="q.startBillingTime!=null ">
				AND o.START_BILLING_TIME=#{q.startBillingTime}
			</if>
			<if test="q.startBillingTimeStart!=null">
		<![CDATA[	AND o.START_BILLING_TIME>=#{q.startBillingTimeStart}  ]]>
			</if>
			<if test="q.startBillingTimeEnd!=null">
		<![CDATA[	AND o.START_BILLING_TIME<#{q.startBillingTimeEnd}   ]]>
			</if>
			<if test="q.finishTime!=null ">
				AND o.FINISH_TIME=#{q.finishTime}
			</if>
			<if test="q.finishTimeStart!=null">
		<![CDATA[	AND o.FINISH_TIME>=#{q.finishTimeStart}  ]]>
			</if>
			<if test="q.finishTimeEnd!=null">
		<![CDATA[	AND o.FINISH_TIME<#{q.finishTimeEnd}   ]]>
			</if>
			<if test="q.orderDuration!=null ">
				AND o.ORDER_DURATION=#{q.orderDuration}
			</if>
			<if test="q.orderMemo!=null and q.orderMemo!=''">
				AND o.ORDER_MEMO=#{q.orderMemo}
			</if>
			<if test="q.isCancel!=null ">
				AND o.IS_CANCEL=#{q.isCancel}
			</if>
			<if test="q.cancelTime!=null ">
				AND o.CANCEL_TIME=#{q.cancelTime}
			</if>
			<if test="q.cancelTimeStart!=null">
		<![CDATA[	AND o.CANCEL_TIME>=#{q.cancelTimeStart}  ]]>
			</if>
			<if test="q.cancelTimeEnd!=null">
		<![CDATA[	AND o.CANCEL_TIME<#{q.cancelTimeEnd}   ]]>
			</if>
			<if test="q.cancelOperatorType!=null ">
				AND o.CANCEL_OPERATOR_TYPE=#{q.cancelOperatorType}
			</if>
			<if test="q.cancelOperatorId!=null and q.cancelOperatorId!=''">
				AND o.CANCEL_OPERATOR_ID=#{q.cancelOperatorId}
			</if>
			<if test="q.isNeedInvoice!=null ">
				AND o.IS_NEED_INVOICE=#{q.isNeedInvoice}
			</if>
			<if test="q.isInvoiceIssued!=null ">
				AND o.IS_INVOICE_ISSUED=#{q.isInvoiceIssued}
			</if>
			<if test="q.invoiceTime!=null ">
				AND o.INVOICE_TIME=#{q.invoiceTime}
			</if>
			<if test="q.invoiceTimeStart!=null">
		<![CDATA[	AND o.INVOICE_TIME>=#{q.invoiceTimeStart}  ]]>
			</if>
			<if test="q.invoiceTimeEnd!=null">
		<![CDATA[	AND o.INVOICE_TIME<#{q.invoiceTimeEnd}   ]]>
			</if>
			<if test="q.invioceNo!=null and q.invioceNo!=''">
				AND o.INVIOCE_NO=#{q.invioceNo}
			</if>
			<if test="q.memo!=null and q.memo!=''">
				AND o.MEMO=#{q.memo}
			</if>
			<if test="q.createTime!=null ">
				AND o.CREATE_TIME=#{q.createTime}
			</if>
			<if test="q.createTimeStart!=null">
		<![CDATA[	AND o.CREATE_TIME>=#{q.createTimeStart}  ]]>
			</if>
			<if test="q.createTimeEnd!=null">
		<![CDATA[	AND o.CREATE_TIME<#{q.createTimeEnd}   ]]>
			</if>
			<if test="q.updateTime!=null ">
				AND o.UPDATE_TIME=#{q.updateTime}
			</if>
			<if test="q.updateTimeStart!=null">
		<![CDATA[	AND o.UPDATE_TIME>=#{q.updateTimeStart}  ]]>
			</if>
			<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND o.UPDATE_TIME<#{q.updateTimeEnd}   ]]>
			</if>
			<if test="q.operatorType!=null ">
				AND o.OPERATOR_TYPE=#{q.operatorType}
			</if>
			<if test="q.operatorId!=null and q.operatorId!=''">
				AND o.OPERATOR_ID=#{q.operatorId}
			</if>
			<if test="q.company!=null and q.company!=''">
				AND o.COMPANY=#{q.company}
			</if>
			<if test="q.proposeNumber!=null ">
				AND o.PROPOSE_NUMBER=#{q.proposeNumber}
			</if>
			<if test="q.proposeStartTime!=null ">
				AND o.PROPOSE_START_TIME=#{q.proposeStartTime}
			</if>
			<if test="q.proposeStartTimeStart!=null">
		<![CDATA[	AND o.PROPOSE_START_TIME>=#{q.proposeStartTimeStart}  ]]>
			</if>
			<if test="q.proposeStartTimeEnd!=null">
		<![CDATA[	AND o.PROPOSE_START_TIME<#{q.proposeStartTimeEnd}   ]]>
			</if>
			<if test="q.proposeEndtTime!=null ">
				AND o.PROPOSE_ENDT_TIME=#{q.proposeEndtTime}
			</if>
			<if test="q.proposeEndtTimeStart!=null">
		<![CDATA[	AND o.PROPOSE_ENDT_TIME>=#{q.proposeEndtTimeStart}  ]]>
			</if>
			<if test="q.proposeEndtTimeEnd!=null">
		<![CDATA[	AND o.PROPOSE_ENDT_TIME<#{q.proposeEndtTimeEnd}   ]]>
			</if>
			<if test="q.actualNumber!=null ">
				AND o.ACTUAL_NUMBER=#{q.actualNumber}
			</if>
			<if test="q.actualStartTime!=null ">
				AND o.ACTUAL_START_TIME=#{q.actualStartTime}
			</if>
			<if test="q.actualStartTimeStart!=null">
		<![CDATA[	AND o.ACTUAL_START_TIME>=#{q.actualStartTimeStart}  ]]>
			</if>
			<if test="q.actualStartTimeEnd!=null">
		<![CDATA[	AND o.ACTUAL_START_TIME<#{q.actualStartTimeEnd}   ]]>
			</if>
			<if test="q.actualEndTime!=null ">
				AND o.ACTUAL_END_TIME=#{q.actualEndTime}
			</if>
			<if test="q.actualEndTimeStart!=null">
		<![CDATA[	AND o.ACTUAL_END_TIME>=#{q.actualEndTimeStart}  ]]>
			</if>
			<if test="q.actualEndTimeEnd!=null">
		<![CDATA[	AND o.ACTUAL_END_TIME<#{q.actualEndTimeEnd}   ]]>
			</if>
		</if>
	</sql>

	<sql id="listCommonWhere">
		<if test="q!=null">
			<if test="q.orderNo!=null and q.orderNo!=''">
				AND ORDER_NO=#{q.orderNo}
			</if>
			<if test="q.memberNo!=null and q.memberNo!=''">
				AND MEMBER_NO=#{q.memberNo}
			</if>
			<if test="q.mobilePhone!=null and q.mobilePhone!=''">
				AND MOBILE_PHONE=#{q.mobilePhone}
			</if>
			<if test="q.carNo!=null and q.carNo!=''">
				AND CAR_NO=#{q.carNo}
			</if>
			<if test="q.carPlateNo!=null and q.carPlateNo!=''">
				AND CAR_PLATE_NO=#{q.carPlateNo}
			</if>
			<if test="q.actualTerminalParkName!=null and q.actualTerminalParkName!=''">
				AND ACTUAL_TERMINAL_PARK_NAME=#{q.actualTerminalParkName}
			</if>
			<if test="q.carModelId!=null and q.carModelId!=''">
				AND CAR_MODEL_ID=#{q.carModelId}
			</if>
			<if test="q.cityId!=null and q.cityId!=''">
				AND CITY_ID=#{q.cityId}
			</if>
			<if test="q.cityName!=null and q.cityName!=''">
				AND CITY_NAME=#{q.cityName}
			</if>
			<if test="q.orderStatus!=null ">
				AND ORDER_STATUS=#{q.orderStatus}
			</if>
			<if test="q.orderAmount!=null ">
				AND ORDER_AMOUNT=#{q.orderAmount}
			</if>
			<if test="q.deposit!=null ">
				AND DEPOSIT=#{q.deposit}
			</if>
			<if test="q.insurance!=null ">
				AND INSURANCE=#{q.insurance}
			</if>
			<if test="q.discountAmount!=null ">
				AND DISCOUNT_AMOUNT=#{q.discountAmount}
			</if>
			<if test="q.payableAmount!=null ">
				AND PAYABLE_AMOUNT=#{q.payableAmount}
			</if>
			<if test="q.payStatus!=null ">
				AND PAY_STATUS=#{q.payStatus}
			</if>
			<if test="q.paymentMethod!=null ">
				AND PAYMENT_METHOD=#{q.paymentMethod}
			</if>
			<if test="q.paymentTime!=null ">
				AND PAYMENT_TIME=#{q.paymentTime}
			</if>
			<if test="q.paymentTimeStart!=null">
		<![CDATA[	AND PAYMENT_TIME>=#{q.paymentTimeStart}  ]]>
			</if>
			<if test="q.paymentTimeEnd!=null">
		<![CDATA[	AND PAYMENT_TIME<#{q.paymentTimeEnd}   ]]>
			</if>
			<if test="q.paymentFlowNo!=null and q.paymentFlowNo!=''">
				AND PAYMENT_FLOW_NO=#{q.paymentFlowNo}
			</if>
			<if test="q.invoiceId!=null and q.invoiceId!=''">
				AND INVOICE_ID=#{q.invoiceId}
			</if>
			<if test="q.startParkNo!=null and q.startParkNo!=''">
				AND START_PARK_NO=#{q.startParkNo}
			</if>
			<if test="q.actualTakeLoacton!=null and q.actualTakeLoacton!=''">
				AND ACTUAL_TAKE_LOACTON=#{q.actualTakeLoacton}
			</if>
			<if test="q.terminalParkNo!=null and q.terminalParkNo!=''">
				AND TERMINAL_PARK_NO=#{q.terminalParkNo}
			</if>
			<if test="q.actualTerminalParkNo!=null and q.actualTerminalParkNo!=''">
				AND ACTUAL_TERMINAL_PARK_NO=#{q.actualTerminalParkNo}
			</if>
			<if test="q.appointmentTime!=null ">
				AND APPOINTMENT_TIME=#{q.appointmentTime}
			</if>
			<if test="q.appointmentTimeStart!=null">
		<![CDATA[	AND APPOINTMENT_TIME>=#{q.appointmentTimeStart}  ]]>
			</if>
			<if test="q.appointmentTimeEnd!=null">
		<![CDATA[	AND APPOINTMENT_TIME<#{q.appointmentTimeEnd}   ]]>
			</if>
			<if test="q.startBillingTime!=null ">
				AND START_BILLING_TIME=#{q.startBillingTime}
			</if>
			<if test="q.startBillingTimeStart!=null">
		<![CDATA[	AND START_BILLING_TIME>=#{q.startBillingTimeStart}  ]]>
			</if>
			<if test="q.startBillingTimeEnd!=null">
		<![CDATA[	AND START_BILLING_TIME<#{q.startBillingTimeEnd}   ]]>
			</if>
			<if test="q.finishTime!=null ">
				AND FINISH_TIME=#{q.finishTime}
			</if>
			<if test="q.finishTimeStart!=null">
		<![CDATA[	AND FINISH_TIME>=#{q.finishTimeStart}  ]]>
			</if>
			<if test="q.finishTimeEnd!=null">
		<![CDATA[	AND FINISH_TIME<#{q.finishTimeEnd}   ]]>
			</if>
			<if test="q.orderDuration!=null ">
				AND ORDER_DURATION=#{q.orderDuration}
			</if>
			<if test="q.orderMemo!=null and q.orderMemo!=''">
				AND ORDER_MEMO=#{q.orderMemo}
			</if>
			<if test="q.isCancel!=null ">
				AND IS_CANCEL=#{q.isCancel}
			</if>
			<if test="q.cancelTime!=null ">
				AND CANCEL_TIME=#{q.cancelTime}
			</if>
			<if test="q.cancelTimeStart!=null">
		<![CDATA[	AND CANCEL_TIME>=#{q.cancelTimeStart}  ]]>
			</if>
			<if test="q.cancelTimeEnd!=null">
		<![CDATA[	AND CANCEL_TIME<#{q.cancelTimeEnd}   ]]>
			</if>
			<if test="q.cancelOperatorType!=null ">
				AND CANCEL_OPERATOR_TYPE=#{q.cancelOperatorType}
			</if>
			<if test="q.cancelOperatorId!=null and q.cancelOperatorId!=''">
				AND CANCEL_OPERATOR_ID=#{q.cancelOperatorId}
			</if>
			<if test="q.isNeedInvoice!=null ">
				AND IS_NEED_INVOICE=#{q.isNeedInvoice}
			</if>
			<if test="q.isInvoiceIssued!=null ">
				AND IS_INVOICE_ISSUED=#{q.isInvoiceIssued}
			</if>
			<if test="q.invoiceTime!=null ">
				AND INVOICE_TIME=#{q.invoiceTime}
			</if>
			<if test="q.invoiceTimeStart!=null">
		<![CDATA[	AND INVOICE_TIME>=#{q.invoiceTimeStart}  ]]>
			</if>
			<if test="q.invoiceTimeEnd!=null">
		<![CDATA[	AND INVOICE_TIME<#{q.invoiceTimeEnd}   ]]>
			</if>
			<if test="q.invioceNo!=null and q.invioceNo!=''">
				AND INVIOCE_NO=#{q.invioceNo}
			</if>
			<if test="q.memo!=null and q.memo!=''">
				AND MEMO=#{q.memo}
			</if>
			<if test="q.createTime!=null ">
				AND CREATE_TIME=#{q.createTime}
			</if>
			<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
			</if>
			<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
			</if>
			<if test="q.updateTime!=null ">
				AND UPDATE_TIME=#{q.updateTime}
			</if>
			<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
			</if>
			<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
			</if>
			<if test="q.operatorType!=null ">
				AND OPERATOR_TYPE=#{q.operatorType}
			</if>
			<if test="q.operatorId!=null and q.operatorId!=''">
				AND OPERATOR_ID=#{q.operatorId}
			</if>
			<if test="q.company!=null and q.company!=''">
				AND COMPANY=#{q.company}
			</if>
			<if test="q.proposeNumber!=null ">
				AND PROPOSE_NUMBER=#{q.proposeNumber}
			</if>
			<if test="q.proposeStartTime!=null ">
				AND PROPOSE_START_TIME=#{q.proposeStartTime}
			</if>
			<if test="q.proposeStartTimeStart!=null">
		<![CDATA[	AND PROPOSE_START_TIME>=#{q.proposeStartTimeStart}  ]]>
			</if>
			<if test="q.proposeStartTimeEnd!=null">
		<![CDATA[	AND PROPOSE_START_TIME<#{q.proposeStartTimeEnd}   ]]>
			</if>
			<if test="q.proposeEndtTime!=null ">
				AND PROPOSE_ENDT_TIME=#{q.proposeEndtTime}
			</if>
			<if test="q.proposeEndtTimeStart!=null">
		<![CDATA[	AND PROPOSE_ENDT_TIME>=#{q.proposeEndtTimeStart}  ]]>
			</if>
			<if test="q.proposeEndtTimeEnd!=null">
		<![CDATA[	AND PROPOSE_ENDT_TIME<#{q.proposeEndtTimeEnd}   ]]>
			</if>
			<if test="q.actualNumber!=null ">
				AND ACTUAL_NUMBER=#{q.actualNumber}
			</if>
			<if test="q.actualStartTime!=null ">
				AND ACTUAL_START_TIME=#{q.actualStartTime}
			</if>
			<if test="q.actualStartTimeStart!=null">
		<![CDATA[	AND ACTUAL_START_TIME>=#{q.actualStartTimeStart}  ]]>
			</if>
			<if test="q.actualStartTimeEnd!=null">
		<![CDATA[	AND ACTUAL_START_TIME<#{q.actualStartTimeEnd}   ]]>
			</if>
			<if test="q.actualEndTime!=null ">
				AND ACTUAL_END_TIME=#{q.actualEndTime}
			</if>
			<if test="q.actualEndTimeStart!=null">
		<![CDATA[	AND ACTUAL_END_TIME>=#{q.actualEndTimeStart}  ]]>
			</if>
			<if test="q.actualEndTimeEnd!=null">
		<![CDATA[	AND ACTUAL_END_TIME<#{q.actualEndTimeEnd}   ]]>
			</if>
		</if>
	</sql>

</mapper>
