<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.marketing.dao.NoticeDao">

<resultMap type="Notice" id="Notice">
	<id column="NOTICE_NO" property="noticeNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="NOTICE_TYPE" property="noticeType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="NOTICE_NAME" property="noticeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="RANKING" property="ranking" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="NOTICE_PIC_URL" property="noticePicUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="LINK_URL" property="linkUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TEXT1" property="text1" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TEXT2" property="text2" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TEXT3" property="text3" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_AVAILABLE" property="isAvailable" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="AVAILABLE_UPDATE_TIME" property="availableUpdateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="CENSOR_STATUS" property="censorStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CENSOR_ID" property="censorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CENSOR_TIME" property="censorTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="CENSOR_MEMO" property="censorMemo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="OPERATOR_NAME" property="operatorName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="EXTERNAL_LINK_URL" property="externalLinkUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="NOTICE_MEMBER_TYPE" property="noticeMemberType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
NOTICE_NO,NOTICE_TYPE,NOTICE_NAME,RANKING,NOTICE_PIC_URL,LINK_URL,TEXT1,
TEXT2,TEXT3,IS_AVAILABLE,AVAILABLE_UPDATE_TIME,CENSOR_STATUS,CENSOR_ID,
CENSOR_TIME,CENSOR_MEMO,OPERATOR_TYPE,IS_DELETED,OPERATOR_ID,OPERATOR_NAME,
CREATE_TIME,UPDATE_TIME,EXTERNAL_LINK_URL,NOTICE_MEMBER_TYPE
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
NOTICE_NO,NOTICE_TYPE,NOTICE_NAME,RANKING,NOTICE_PIC_URL,LINK_URL,TEXT1,
TEXT2,TEXT3,IS_AVAILABLE,AVAILABLE_UPDATE_TIME,CENSOR_STATUS,CENSOR_ID,
CENSOR_TIME,CENSOR_MEMO,OPERATOR_TYPE,IS_DELETED,OPERATOR_ID,OPERATOR_NAME,
CREATE_TIME,UPDATE_TIME,EXTERNAL_LINK_URL,NOTICE_MEMBER_TYPE
</sql>

<insert id="add" parameterType="Notice" useGeneratedKeys="true" keyProperty="noticeNo">
	insert into T_NOTICE(
		<if test="noticeNo!=null">
		NOTICE_NO,
		</if>
		NOTICE_TYPE,
		NOTICE_NAME,
		RANKING,
		NOTICE_PIC_URL,
		LINK_URL,
		TEXT1,
		TEXT2,
		TEXT3,
		IS_AVAILABLE,
		AVAILABLE_UPDATE_TIME,
		CENSOR_STATUS,
		CENSOR_ID,
		CENSOR_TIME,
		CENSOR_MEMO,
		OPERATOR_TYPE,
		IS_DELETED,
		OPERATOR_ID,
		OPERATOR_NAME,
		CREATE_TIME,
		UPDATE_TIME,
		EXTERNAL_LINK_URL,
		NOTICE_MEMBER_TYPE
	) values (
		<if test="noticeNo!=null">
		#{noticeNo,jdbcType = VARCHAR},
		</if>
		#{noticeType,jdbcType = TINYINT},
		#{noticeName,jdbcType = VARCHAR},
		#{ranking,jdbcType = INTEGER},
		#{noticePicUrl,jdbcType = VARCHAR},
		#{linkUrl,jdbcType = VARCHAR},
		#{text1,jdbcType = VARCHAR},
		#{text2,jdbcType = VARCHAR},
		#{text3,jdbcType = VARCHAR},
		#{isAvailable,jdbcType = TINYINT},
		#{availableUpdateTime,jdbcType = TIMESTAMP},
		#{censorStatus,jdbcType = TINYINT},
		#{censorId,jdbcType = VARCHAR},
		#{censorTime,jdbcType = TIMESTAMP},
		#{censorMemo,jdbcType = VARCHAR},
		#{operatorType,jdbcType = TINYINT},
		#{isDeleted,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{operatorName,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{externalLinkUrl,jdbcType = VARCHAR},
		#{noticeMemberType,jdbcType = TINYINT}
	)
</insert>

<update id="update" parameterType="Notice">
	update t_notice 
	<set>
		<if test="noticeType!=null ">
			NOTICE_TYPE=#{noticeType,jdbcType = TINYINT},
		</if>
		<if test="noticeName!=null and noticeName!=''">
			NOTICE_NAME=#{noticeName,jdbcType = VARCHAR},
		</if>
		<if test="ranking!=null ">
			RANKING=#{ranking,jdbcType = INTEGER},
		</if>
		<if test="noticePicUrl!=null and noticePicUrl!=''">
			NOTICE_PIC_URL=#{noticePicUrl,jdbcType = VARCHAR},
		</if>
		<if test="linkUrl!=null and linkUrl!=''">
			LINK_URL=#{linkUrl,jdbcType = VARCHAR},
		</if>
		<if test="text1!=null and text1!=''">
			TEXT1=#{text1,jdbcType = VARCHAR},
		</if>
		<if test="text2!=null and text2!=''">
			TEXT2=#{text2,jdbcType = VARCHAR},
		</if>
		<if test="text3!=null and text3!=''">
			TEXT3=#{text3,jdbcType = VARCHAR},
		</if>
		<if test="isAvailable!=null ">
			IS_AVAILABLE=#{isAvailable,jdbcType = TINYINT},
		</if>
		<if test="availableUpdateTime!=null ">
			AVAILABLE_UPDATE_TIME=#{availableUpdateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="censorStatus!=null ">
			CENSOR_STATUS=#{censorStatus,jdbcType = TINYINT},
		</if>
		<if test="censorId!=null and censorId!=''">
			CENSOR_ID=#{censorId,jdbcType = VARCHAR},
		</if>
		<if test="censorTime!=null ">
			CENSOR_TIME=#{censorTime,jdbcType = TIMESTAMP},
		</if>
		<if test="censorMemo!=null and censorMemo!=''">
			CENSOR_MEMO=#{censorMemo,jdbcType = VARCHAR},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="operatorName!=null and operatorName!=''">
			OPERATOR_NAME=#{operatorName,jdbcType = VARCHAR},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="externalLinkUrl!=null and externalLinkUrl!=''">
			EXTERNAL_LINK_URL=#{externalLinkUrl,jdbcType = VARCHAR},
		</if>
		<if test="noticeMemberType!=null ">
			NOTICE_MEMBER_TYPE=#{noticeMemberType,jdbcType = TINYINT},
		</if>
	</set>
	<where>
		AND NOTICE_NO=#{noticeNo}
	</where>
</update>

<delete id="delete">
	delete from t_notice 
	<where>
		NOTICE_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="Notice">
	select <include refid="AllColumnlist"/> from t_notice
	<where>
		NOTICE_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="Notice">
	select <include refid="AllColumnlist"/> from t_notice
	<where>
		NOTICE_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(NOTICE_NO) from t_notice 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="Notice">
	select <include refid="CommonColumnlist"/> from t_notice 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="Notice">
	select <include refid="CommonColumnlist"/> from t_notice
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	order by RANKING asc,AVAILABLE_UPDATE_TIME desc
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>  
</select>

<select id="pageLists" parameterType="Query" resultMap="Notice">
	select <include refid="CommonColumnlist"/> from t_notice
	<where>
	 <include refid="listCommonWheres"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.noticeNo!=null and q.noticeNo!=''">
			AND NOTICE_NO=#{q.noticeNo}
		</if>
		<if test="q.noticeType!=null ">
			AND NOTICE_TYPE=#{q.noticeType}
		</if>
		<if test="q.noticeName!=null and q.noticeName!=''">
			AND NOTICE_NAME=#{q.noticeName}
		</if>
		<if test="q.ranking!=null ">
			AND RANKING=#{q.ranking}
		</if>
		<if test="q.noticePicUrl!=null and q.noticePicUrl!=''">
			AND NOTICE_PIC_URL=#{q.noticePicUrl}
		</if>
		<if test="q.linkUrl!=null and q.linkUrl!=''">
			AND LINK_URL=#{q.linkUrl}
		</if>
		<if test="q.text1!=null and q.text1!=''">
			AND TEXT1=#{q.text1}
		</if>
		<if test="q.text2!=null and q.text2!=''">
			AND TEXT2=#{q.text2}
		</if>
		<if test="q.text3!=null and q.text3!=''">
			AND TEXT3=#{q.text3}
		</if>
		<if test="q.isAvailable!=null ">
			AND IS_AVAILABLE=#{q.isAvailable}
		</if>
		<if test="q.availableUpdateTime!=null ">
			AND AVAILABLE_UPDATE_TIME=#{q.availableUpdateTime}
		</if>
		<if test="q.availableUpdateTimeStart!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME>=#{q.availableUpdateTimeStart}  ]]>
		</if>
		<if test="q.availableUpdateTimeEnd!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME<#{q.availableUpdateTimeEnd}   ]]>
		</if>
		<if test="q.censorStatus!=null ">
			AND CENSOR_STATUS=#{q.censorStatus}
		</if>
		<if test="q.censorId!=null and q.censorId!=''">
			AND CENSOR_ID=#{q.censorId}
		</if>
		<if test="q.censorTime!=null ">
			AND CENSOR_TIME=#{q.censorTime}
		</if>
		<if test="q.censorTimeStart!=null">
		<![CDATA[	AND CENSOR_TIME>=#{q.censorTimeStart}  ]]>
		</if>
		<if test="q.censorTimeEnd!=null">
		<![CDATA[	AND CENSOR_TIME<#{q.censorTimeEnd}   ]]>
		</if>
		<if test="q.censorMemo!=null and q.censorMemo!=''">
			AND CENSOR_MEMO=#{q.censorMemo}
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.operatorName!=null and q.operatorName!=''">
			AND OPERATOR_NAME=#{q.operatorName}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.externalLinkUrl!=null and q.externalLinkUrl!=''">
			AND EXTERNAL_LINK_URL=#{q.externalLinkUrl}
		</if>
		<if test="q.noticeMemberType!=null ">
			AND NOTICE_MEMBER_TYPE=#{q.noticeMemberType}
		</if>
	</if>
</sql>

<sql id="listCommonWheres">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.noticeNo!=null and q.noticeNo!=''">
			AND NOTICE_NO=#{q.noticeNo}
		</if>
		<if test="q.noticeType!=null ">
			AND NOTICE_TYPE=#{q.noticeType}
		</if>
		<if test="q.noticeName!=null and q.noticeName!=''">
			AND NOTICE_NAME like '%${q.noticeName}%'
		</if>
		<if test="q.ranking!=null ">
			AND RANKING=#{q.ranking}
		</if>
		<if test="q.noticePicUrl!=null and q.noticePicUrl!=''">
			AND NOTICE_PIC_URL=#{q.noticePicUrl}
		</if>
		<if test="q.linkUrl!=null and q.linkUrl!=''">
			AND LINK_URL=#{q.linkUrl}
		</if>
		<if test="q.text1!=null and q.text1!=''">
			AND TEXT1=#{q.text1}
		</if>
		<if test="q.text2!=null and q.text2!=''">
			AND TEXT2=#{q.text2}
		</if>
		<if test="q.text3!=null and q.text3!=''">
			AND TEXT3=#{q.text3}
		</if>
		<if test="q.isAvailable!=null ">
			AND IS_AVAILABLE like '%${q.isAvailable}%'
		</if>
		<if test="q.availableUpdateTime!=null ">
			AND AVAILABLE_UPDATE_TIME=#{q.availableUpdateTime}
		</if>
		<if test="q.availableUpdateTimeStart!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME>=#{q.availableUpdateTimeStart}  ]]>
		</if>
		<if test="q.availableUpdateTimeEnd!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME<#{q.availableUpdateTimeEnd}   ]]>
		</if>
		<if test="q.censorStatus!=null ">
			AND CENSOR_STATUS like '%${q.censorStatus}%'
		</if>
		<if test="q.censorId!=null and q.censorId!=''">
			AND CENSOR_ID=#{q.censorId}
		</if>
		<if test="q.censorTime!=null ">
			AND CENSOR_TIME=#{q.censorTime}
		</if>
		<if test="q.censorTimeStart!=null">
		<![CDATA[	AND CENSOR_TIME>=#{q.censorTimeStart}  ]]>
		</if>
		<if test="q.censorTimeEnd!=null">
		<![CDATA[	AND CENSOR_TIME<#{q.censorTimeEnd}   ]]>
		</if>
		<if test="q.censorMemo!=null and q.censorMemo!=''">
			AND CENSOR_MEMO=#{q.censorMemo}
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.operatorName!=null and q.operatorName!=''">
			AND OPERATOR_NAME=#{q.operatorName}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.externalLinkUrl!=null and q.externalLinkUrl!=''">
			AND EXTERNAL_LINK_URL=#{q.externalLinkUrl}
		</if>
		<if test="q.noticeMemberType!=null ">
			AND NOTICE_MEMBER_TYPE=#{q.noticeMemberType}
		</if>
	</if>
</sql>


</mapper>
