<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.marketing.dao.SendMessageDao">

<resultMap type="SendMessage" id="SendMessage">
	<id column="MESSAGE_ID" property="messageId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMBER_NO" property="memberNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MESSAGE_TYPE" property="messageType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="MESSAGE_CONTENT" property="messageContent" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_READ" property="isRead" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
MESSAGE_ID,MEMBER_NO,MESSAGE_TYPE,MESSAGE_CONTENT,IS_READ,CREATE_TIME,UPDATE_TIME,
OPERATOR_TYPE,OPERATOR_ID
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
MESSAGE_ID,MEMBER_NO,MESSAGE_TYPE,IS_READ,CREATE_TIME,UPDATE_TIME,
OPERATOR_TYPE,OPERATOR_ID
</sql>

<insert id="add" parameterType="SendMessage" useGeneratedKeys="true" keyProperty="messageId">
	insert into T_SEND_MESSAGE(
		<if test="messageId!=null">
		MESSAGE_ID,
		</if>
		MEMBER_NO,
		MESSAGE_TYPE,
		MESSAGE_CONTENT,
		IS_READ,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID
	) values (
		<if test="messageId!=null">
		#{messageId,jdbcType = VARCHAR},
		</if>
		#{memberNo,jdbcType = VARCHAR},
		#{messageType,jdbcType = TINYINT},
		#{messageContent,jdbcType = VARCHAR},
		#{isRead,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="SendMessage">
	update t_send_message 
	<set>
		<if test="memberNo!=null and memberNo!=''">
			MEMBER_NO=#{memberNo,jdbcType = VARCHAR},
		</if>
		<if test="messageType!=null ">
			MESSAGE_TYPE=#{messageType,jdbcType = TINYINT},
		</if>
		<if test="messageContent!=null and messageContent!=''">
			MESSAGE_CONTENT=#{messageContent,jdbcType = VARCHAR},
		</if>
		<if test="isRead!=null ">
			IS_READ=#{isRead,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND MESSAGE_ID=#{messageId}
	</where>
</update>

<delete id="delete">
	delete from t_send_message 
	<where>
		MESSAGE_ID=#{0}
	</where>
</delete>

<select id="get" resultMap="SendMessage">
	select <include refid="AllColumnlist"/> from t_send_message
	<where>
		MESSAGE_ID=#{0}
	</where>
</select>

<select id="getByIds" resultMap="SendMessage">
	select <include refid="AllColumnlist"/> from t_send_message
	<where>
		MESSAGE_ID in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(MESSAGE_ID) from t_send_message 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="SendMessage">
	select <include refid="AllColumnlist"/> from t_send_message 
	<where>
	<include refid="listCommonWhere"/>
	</where>
	ORDER BY CREATE_TIME DESC 
</select>

<select id="pageList" parameterType="Query" resultMap="SendMessage">
	select <include refid="CommonColumnlist"/> from t_send_message
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.messageId!=null and q.messageId!=''">
			AND MESSAGE_ID=#{q.messageId}
		</if>
		<if test="q.memberNo!=null and q.memberNo!=''">
			AND MEMBER_NO=#{q.memberNo}
		</if>
		<if test="q.messageType!=null ">
			AND MESSAGE_TYPE=#{q.messageType}
		</if>
		<if test="q.messageContent!=null and q.messageContent!=''">
			AND MESSAGE_CONTENT=#{q.messageContent}
		</if>
		<if test="q.isRead!=null ">
			AND IS_READ=#{q.isRead}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
	</if>
</sql>

</mapper>
